# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
ENV/

# Databases & local files
*.db
*.sqlite3
sih_artisan.db
*.log

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
